# User Testing Report

User testing was conducted by Winnie Lau on October 24, 2013, between the times of 4pm and 5pm with the following participants:

- Lauren
- Nadia
- Jessica

## Tasks

1. read about a food article
2. find article about Flemish Giant breed
3. read lifespan

---

## Individual Results & Observations

### Lauren

- Clicked as expected
- Fix Nav
- annoyed that nav didn't go away after hover
- had trouble finding lifespan

### Nadia

- found right away
- Looked under breed first for lifespan

### Jessica

- everything straightforward except lifespan
- nav looks awkward to left

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Lifespan needs to be more obvious

### Serious, Causes Frustration, May Hinder Completion

- Nav is visually weird

### Minor, Annoying, Won’t Hinder Completion

-N/A