@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	margin:0;
	padding:0;
	background-color:#333;
}

body {
	background-color:#FFF;
	padding: 0.5em;
}

h1,
h2,
h3,
nav ul {
	font-family: 'Bitter', serif;
	padding:0.8rem 0 0.3rem 0;
	margin:0;
	clear: both;
}

img {
	width:100%;
	padding: 0.3em;
}

p {
	font-family: 'Roboto Slab', serif;
	padding:0 10% 1rem 0;
	margin:0;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}

nav ul {
	background: #efefef; 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	border-radius: 10px;
	width:100%;
	text-align: center;
	list-style: none;
	position: relative;
	display: block;
}

nav ul:after {
	content: ""; clear: both; 
	display: block;
}

nav ul li:hover {
	background: #4b545f;
}

nav ul li:hover a {
	color: #fff;
}
	
nav ul li a {
	display: inline-block; 
	padding: 1em;
	width: 100%;
	color: #757575; 
	text-decoration: none;
}

nav ul ul {
	background: #5f6975; 
	border-radius: 0px; 
	padding: 0;
	position: absolute;
}

nav ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

nav ul ul li a {
	padding:1em;
	color: #fff;
}	
nav ul ul li a:hover {
	background: #4b545f;
}

nav ul ul ul {
	position: static;
	padding: 0;
	margin:0;
}

.clear {
	overflow: hidden;
}


@media only screen and (min-width: 38em) {
	nav ul {
		width:80%;
		text-align: normal;
	}

	nav ul ul {
		width: 40%;
	}

	nav ul ul ul {
		width: 100%;
	}

	nav a,
	nav ul ul ul a {
		width: 100%;
	}

	nav ul li {
		padding: 0 8%;
		float: left;
	}
	
	.searchbar {
		float: none;
		clear: both;
		width: 100%;
		text-align: center;
		padding: 5px;
	}

	.fleft {
		float: left;
	}

	.fright {
		float: right;
	}
}

@media only screen and (min-width: 60em) {
	nav ul {
		width:60%;
	}

	div {
		margin: 0;
	}
}

@media only screen and (min-width: 60em) {
	html {
		font-size: 125%;
	}
}

@media only screen and (min-width: 75em) {
	html {
		font-size: 150%;
	}
}

@media only screen and (min-width: 87em) {
	html {
		font-size: 175%;
	}
}

@media only screen and (min-width: 100em) {
	html {
		font-size: 200%;
	}
}

@media only screen and (min-width: 120em) {
	html {
		font-size: 200%;
	}
}

@media only screen and (min-width: 132em) {
	html {
		font-size: 230%;
	}
}

@media only screen and (min-width: 150em) {
	html {
		font-size: 270%;
	}
}

@media only screen and (min-width: 174em) {
	html {
		font-size: 300%;
	}
}