---
layout: default
title: Rabbit Breeds – Info on Different Rabbit Breeds
meta: All rabbits are different depending on the breed. This page will help you identify them. 
---
<h1 id="top">Breeds of Rabbit</h1>
<p>Different breeds of Rabbit serve different purposes. Rabbits come in neat shapes, sizes, and colors. Breeds can be different by length of fur, ears and feet too!</p>

<div class="clear clearfix">
	{% for rabbit in site.pages %}
	
	<div class="fleft clearfix unitspacerl unit-l-1-2">
		{% if rabbit.type == '2coll' %}
			<dl id="{{rabbit.id}}"> 
				<dt>{{rabbit.title}}</dt>
					<dd>Size: {{rabbit.size}}</dt>
					<dd>{{rabbit.summary | markdownify}}</dd>
					<dd>{{rabbit.content | markdownify}}</dd>
			</dl>
			<a href="#top" class="unitspacerl button">Back to Top</a>
		{% endif %}
	</div>

	<div class="fright unitspacerl clearfix unit-l-1-2">
		{% if rabbit.type == '2colr' %}
		<dl id="{{rabbit.id}}"> 
			<dt>{{rabbit.title}}</dt>
				<dd>Size: {{rabbit.size}}</dt>
				<dd>{{rabbit.summary | markdownify}}</dd>
				<dd>{{rabbit.content | markdownify}}</dd>
		</dl>
		<a href="#top" class="unitspacerl button">Back to Top</a>
		{% endif %}
	</div>

	{% endfor %}
</div>
