---
layout: default
---
<h1 id="top">Breeds of Rabbit</h1>
<p>Different breeds of Rabbit serve different purposes. Rabbits come in neat shapes, sizes, and colors. Breeds can be different by length of fur, ears and feet too!</p>

<div class="clearfix">
	{% for rabbit in site.pages %}
		<div class="fleft unit-l-1-2">
			{% if rabbit.type == 'rabbitl' %}
				<dl id="{{rabbit.id}}"> 
					<dt>{{rabbit.title}}</dt>
						<dd>Size: {{rabbit.size}}</dt>
						<dd>{{rabbit.summary | markdownify}}</dd>
						<dd>{{rabbit.content | markdownify}}</dd>
				</dl>
				<a href="#top" class="unitspacerl button">Back to Top</a>
			{% endif %}
	</div>
	<div class="fright unit-l-1-2">
			{% if rabbit.type == 'rabbitr' %}
			<dl id="{{rabbit.id}}"> 
				<dt>{{rabbit.title}}</dt>
					<dd>Size: {{rabbit.size}}</dt>
					<dd>{{rabbit.summary | markdownify}}</dd>
					<dd>{{rabbit.content | markdownify}}</dd>
			</dl>
			<a href="#top" class="unitspacerl button">Back to Top</a>
		{% endif %}
	</div>
	{% endfor %}
</div>
