---
layout: default
title: Food Rabbits – Rabbit meat and recipes
meta: Rabbit recipies and information on how to cook them. 
---

<main role="main" id="main">
	<div class="p10">	
		<h1 id="top">Rabbits as Food</h1>
		<p>Rabbit meat is lean meat and should be cooked in a specific way. Here are some recipies and something to look out for when cooking and eating rabbit meat.</p>
	</div>

	<div class="grid">
		{% for food in site.categories.food %}
			{% if food.type == 'rm' %}
		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
				<dl> 
					<dt id="{{food.theId}}" tabindex="0">{{food.title}}</dt>
						<dd>{{food.summary | markdownify}}</dd>
						<dd>{{food.content | markdownify}}</dd>
				</dl>
				<a href="#top" class="unitspacerl button">Back to Top</a>
		</div>
			{% endif %}

		{% endfor %}
	</div>
</main>
