---
layout: default
title: Food Rabbits – Rabbit meat and recipes
meta: Rabbit recipies and information on how to cook them. 
---
<h1 id="top">Rabbits as Food</h1>
<p>Rabbit meat is lean meat and should be cooked in a specific way. Here are some recipies and something to look out for when cooking and eating rabbit meat</p>

<div class="clear clearfix">
	{% for food in site.pages %}
		{% if food.type == 'food'%}
	<div class="fleft clearfix unitspacerl unit-l-1-2">
			<dl id="{{food.id}}"> 
				<dt>{{food.title}}</dt>
					<dd>{{food.summary | markdownify}}</dd>
					<dd>{{food.content | markdownify}}</dd>
			</dl>
			<a href="#top" class="unitspacerl button">Back to Top</a>
	</div>
		{% endif %}

	{% endfor %}
</div>
