<ul class="skiplinks">
    <li><a href="#main">Skip to primary content</a></li>
    <li><a href="#navigation">Skip to main content</a></li>
</ul>

<div>
        <nav role="navigation" id="navigation">
        	<ul>
            	<li>
                    <a href="#" id="home-link">Home</a>
                	<ul id='content1' style='display:none;'>
                    	<li><a href="{{site.baseurl}}/index.html#intro" rel="home">What is a Rabbit</a></li>
                        <li><a href="{{site.baseurl}}/index.html#lifespan" rel="home">Lifespan</a></li>
                        <li><a href="{{site.baseurl}}/index.html#dvm" rel="home">Diet of Pet vs. Meat Rabbit</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" id="breeds-link">Breeds</a>
                    <ul id='content2' style='display:none;'>
                        <li><a href="{{site.baseurl}}/breeds.html#angora">Angora</a></li>
                        <li><a href="{{site.baseurl}}/breeds.html#elop">English Lop</a></li>
                        <li><a href="{{site.baseurl}}/breeds.html#flemish">Flemish Giant</a></li>
                        <li><a href="{{site.baseurl}}/breeds.html#flop">French Lop</a></li>
                        <li><a href="{{site.baseurl}}/breeds.html#hlop">Holland Lop</a></li>
        				<li><a href="{{site.baseurl}}/breeds.html#marsh">Marsh Rabbit</a></li>
        				<li><a href="{{site.baseurl}}/breeds.html#new-zealand">New Zealand White Rabbit</a></li>
                        <li><a href="{{site.baseurl}}/breeds.html#rex">Rex Rabbit</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" id="food-link">Food</a>
                	<ul id='content3' style='display:none;'>
                        <li><a href="{{site.baseurl}}/food.html#cook">Cooking Rabbits</a></li>
                        <li><a href="{{site.baseurl}}/food.html#rpie">Rabbit Pie</a></li>
                        <li><a href="{{site.baseurl}}/food.html#rstarve">Rabbit Starvation</a></li>
                        <li><a href="{{site.baseurl}}/food.html#rarebit">Welsh Rarebit</a></li>
        			</ul>
                </li>
                <li class="searchbar"> 
                    <form>
                        <label for="search">Search</label>
                        <input type="search" placeholder="Search" class="search" id="search">
                    </form>
                </li>
            </ul>
        </nav>
    </div>

    <script>
        document.getElementById('home-link').onclick = function () {
           document.getElementById('content1').style.display =
                (document.getElementById('content1').style.display=='none')
                ? 'block'
                : 'none';
            document.getElementById('content2').style.display = 'none';
            document.getElementById('content3').style.display = 'none';
            return false;
        }

        document.getElementById('breeds-link').onclick = function () {
           document.getElementById('content2').style.display =
                (document.getElementById('content2').style.display=='none')
                ? 'block'
                : 'none';
            document.getElementById('content1').style.display = 'none';
            document.getElementById('content3').style.display = 'none';
            return false;
        }
        
        document.getElementById('food-link').onclick = function () {
           document.getElementById('content3').style.display =
                (document.getElementById('content3').style.display=='none')
                ? 'block'
                : 'none';
            document.getElementById('content1').style.display = 'none';
            document.getElementById('content2').style.display = 'none';
            return false;
        }
    </script>