<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.meta}}">
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Bitter|Roboto+Slab:300' rel='stylesheet' type='text/css'>
    
    <link rel="author" href="humans.txt">
    <link href="{{ site.baseurl }}/css/normalize.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/general.min.css" rel="stylesheet">

    <script src="{{ site.baseurl }}/js/modernizr.js"></script>
    <!-- Facebook -->
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:url" content="http://winlaud.github.com/large-data-website">
    <meta property="og:image" content="http://upload.wikimedia.org/wikipedia/commons/0/06/EnglishSpotRabbitChocolate1%28cropped%29.jpg">
    <meta property="og:description" content="{{page.meta}}">
    <meta property="og:site_name" content="Winlaud">
    <!-- Twitter-->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="{{page.title}}">
    <meta property="twitter:url" content="http://winlaud.github.com/large-data-website">
    <meta property="twitter:image" content="http://upload.wikimedia.org/wikipedia/commons/0/06/EnglishSpotRabbitChocolate1%28cropped%29.jpg">
    <meta property="twitter:description" content="{{page.meta}}">
</head>

<body>

<header>
  {% include nav.html %}
</header>
<!--All info was taken from Wikipedia-->
{{content}}

 <script>
        document.getElementById('home-link').onclick = function () {
           document.getElementById('content1').style.display =
                (document.getElementById('content1').style.display=='none')
                ? 'block'
                : 'none';
            document.getElementById('content2').style.display = 'none';
            document.getElementById('content3').style.display = 'none';
            return false;
        }

        document.getElementById('breeds-link').onclick = function () {
           document.getElementById('content2').style.display =
                (document.getElementById('content2').style.display=='none')
                ? 'block'
                : 'none';
            document.getElementById('content1').style.display = 'none';
            document.getElementById('content3').style.display = 'none';
            return false;
        }
        
        document.getElementById('food-link').onclick = function () {
           document.getElementById('content3').style.display =
                (document.getElementById('content3').style.display=='none')
                ? 'block'
                : 'none';
            document.getElementById('content1').style.display = 'none';
            document.getElementById('content2').style.display = 'none';
            return false;
        }

        if (!Modernizr.inlinesvg) {
            ;(function () {
                var imgs = document.getElementsByTagName('img')
                , totalImgs = imgs.length
                , i = 0
             
                for (i = 0; i < totalImgs; i++) {
                    imgs[i].src = imgs[i].src.replace(/svg$/, 'png')
                }
            }())
        }

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-46090512-1', 'winlaud.github.io');
        ga('send', 'pageview');

    </script>

</body>
</html>