<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bunnies</title>
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Bitter|Roboto+Slab:300' rel='stylesheet' type='text/css'>
    <link href="{{ site.url }}/css/general.css" rel="stylesheet">
    <link href="{{ site.url }}/css/grid.css" rel="stylesheet">
</head>

<body>

<header>
  {% include nav.html %}
</header>

{{content}}

</body>
</html>